/* Full */
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

a {
    text-decoration: none;
    color: #434455;
    line-height: 24px;
    letter-spacing: 0.02em;


}
span {
    color: #2e2f42;
}

ul {
    list-style-type: none;
}

h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}

/* Header */
.logo{
    font-family: "Raleway", sans-serif;
    line-height: 1.17;
    letter-spacing: 0.03;
    text-transform: uppercase;
    color: 4d5ae5;
}

.header .link:hover, .header .link:focus {
    color: #404bbf;

}

.header a {
    font-family: Raleway, sans-serif;
    font-weight: 700;
}

.navheader li > a {
    font-weight: 500;
    font-size: 16px;
}

.address li > a {
    font-weight: 400;
    font-size: 16px;
}

/* Main */

.sectionone {
    background-color: #2E2F42;
    color: white;
    font-weight: 500;
    font-size: 56px;
    text-align: center;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

.button {
    font-family: "Roboto", sans-serif;
    background-color: #4D5AE5;
    color: white;
    text-align: center;
    font-size: 16px;
    text-align: center;
    line-height: 24px;
    letter-spacing: 0.04em;
}

.sectionone .button:hover, .sectionone .button:focus {
    background-color: #404BBF;
    cursor: pointer;
}

.team {
    font-weight: 700;
    font-size: 36px;
}

.three {
    background-color: #F4F4FD;
}

.three img {
    width: 264px; 
    height: 260px;
}


.four img {
    width: 360px;
    height: 300px;
}
/* footer */


.footer {
    background-color: #2E2F42;
    color: white;
}

.footer a {
    color: white;
    font-weight: 700;
    font-size: 18px;

}
